<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167562738974-jskro0bve0ssd8qlle5aee8siuld0s8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167562738974-jskro0bve0ssd8qlle5aee8siuld0s8r</string>
	<key>API_KEY</key>
	<string>AIzaSyDIOoSmtqSaut6S6T9t9ybCzg-tOHieHuo</string>
	<key>GCM_SENDER_ID</key>
	<string>167562738974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>loyd.app.example.flutter.com.datingalgorithm</string>
	<key>PROJECT_ID</key>
	<string>signuptest-beb58</string>
	<key>STORAGE_BUCKET</key>
	<string>signuptest-beb58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167562738974:ios:2c43a8b03d569a70831d0f</string>
	<key>DATABASE_URL</key>
	<string>https://signuptest-beb58.firebaseio.com</string>
</dict>
</plist>